/node_modules
/public/hot
/public/storage
/public/php_errors.log
/storage/*.key
/storage/backup/*.sql
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.local
.env.docker
.phpunit.result.cache
.DS_Store
*.code_workspace
