.publication-date, h1 {
	color: $theme-orange;
}

.publication-date {
	font-size: 0.8em;
}

blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
}

.content {
    padding-left: 6%;
    padding-right: 6%;
}

.article-content a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .content {
        padding-left: 11%;
        padding-right: 11%;
    }
}