.form-default {
    background: $theme-bg2;
    border: 1px solid #666;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, .8);
    border-radius: 5px;
}


.submit-button {
    width: 12em;
    padding: 10px;
    border: 2px solid #7c412b;
    border-radius: 5px;
    box-shadow: $theme-shadow;
    color: #fff;
    background: $theme-orange;
    font-weight: bold;
    -webkit-appearance: none;
}

.submit-button:hover {
    cursor: pointer;
    background: #fff;
    color: $theme-orange;
}

.form-input {
    border: 2px solid #666;
    background: #efe;
    border-radius: 5px;
}
