.form-default {
    background: $theme-bg2;
    border: 1px solid #666;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, .8);
    border-radius: 5px;
}

.form-input {
    border: 2px solid $theme-gray;
    background: #efe;
    border-radius: 5px;
}

.item-caption-input {
    min-height: 80px;
}