.navbar-dropdown {
    display: none;
    z-index: 2;
    float: right;
    position: absolute;
    flex-direction: column;
    overflow: visible;
}
.navbar-item:hover > .navbar-dropdown {
    display: flex;
}

.navbar-item > a, .navbar-dropdown-item > a {
    text-decoration: none;
    padding:8px 5px;
    color:#fff;
    background:#333;
    display: block;
}

.navbar-item {
    margin: 4px 8px;
}

.navbar-dropdown-item {
    padding-top:1px;
    margin: 5px 2px;
}

.navbar-item > a:hover, .navbar-dropdown-item:hover > a{
    color:#fff;
    background:#6b0c36;
    text-decoration:underline;
}

.navbar-dropdown {
    background:#6b0c36;
}
