.sidebar {
    /* float: left;
    font-size: 1.1em;
    font-weight: 700; */
    width: 9.5%;
	margin-left: 1%;
	margin-right: 2%;
	float:left;
	padding:10px;
	font-size:1.2rem;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 2;
    overflow:auto;
	position: relative;
	right: 150px;
}

.sidebar-menu-link {
    text-decoration: none;
}

.sidebar-menu-link:hover {
    text-decoration: underline;
}
