.admin-article-table > tbody {
    background: $theme-bg2;
}

.admin-article-table > *{
    border: solid 1px $theme-blue;
}

.admin-article-table > thead {
    background: $theme-orange;
    color: white;
}
