/* // Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'pidhs';
@import 'sidebar';
@import 'nav'; */

@import 'site/layout';
@import 'site/navbar';
@import 'site/sidebar';
@import 'site/article';
@import 'site/collection';

body {
	margin: 0;
	color: #333;
	background-color: #CCC;
	background-image:url(/storage/muralbg1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	font-family: Arial, Helvetica, sans-serif;
	//line-height: 1.5em;
/* 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover; */
  	background-size: cover;
}
