@import './variables';

@tailwind preflight;

@import './components/colouring';
@import './components/divs';
@import './components/headings';
@import './components/buttons';
@import './components/links';
@import './components/images';

@tailwind components;
@tailwind utilities;


@import './navbar';
@import './sidebar';
@import './article';
@import './collection';
@import './forms';
@import './pagination';
@import './tables';


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
	color: $theme-dark;
	background-color: #CCC;
	background-image:url(/storage/muralbg1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	font-family: Arial, Helvetica, sans-serif;
  	background-size: cover;
}

.app {
    margin: 0 auto;
    min-height: 100%;
    width: 73%;
}

.bg-default {
    background: rgba(255, 255, 255, 0.86);
}

.border-t-blue {
	border-top: 1px solid $theme-blue;
}

.border-b-blue {
    border-bottom: 1px solid $theme-blue;
}

.ck-content {
    min-height: 300px;
}