/* // Variables
@import 'variables';
@import 'sidebar';
@import 'nav'; */

//@import 'site/layout';
@import './navbar';
@import './sidebar';
@import './article';
@import './collection';

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
	color: #333;
	background-color: #CCC;
	background-image:url(/storage/muralbg1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	font-family: Arial, Helvetica, sans-serif;
	//line-height: 1.5em;
/* 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover; */
  	background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
	position: relative;
	min-height: 100%;
}

.container, .sidebar {
    background: rgba(255, 255, 255, 0.86);
}

.footer {
	border-top: 1px solid #00a0b0;
}