@import './variables';

@tailwind preflight;

@import './components/colouring';
@import './components/divs';
@import './components/headings';
@import './components/buttons';
@import './components/links';
@import './components/images';

@tailwind components;
@tailwind utilities;


@import './navbar';
@import './sidebar';
@import './article';
@import './collection';
@import './forms';
@import './pagination';
@import './tables';

body {
	color: $theme-dark;
}

.border-t-blue {
	border-top: 1px solid $theme-blue;
}

.border-b-blue {
    border-bottom: 1px solid $theme-blue;
}

.ck-content {
    min-height: 300px;
}