@import './variables';

@tailwind base;

@import './mobile/components/colouring';
@import './mobile/components/divs';
@import './mobile/components/headings';
@import './mobile/components/buttons';
@import './mobile/components/links';
@import './mobile/components/images';

@tailwind components;
@tailwind utilities;

@import './mobile/nav';
@import './mobile/layout';

body {
	color: $theme-dark;
}

.border-t-blue {
	border-top: 1px solid $theme-blue;
}

.border-b-blue {
    border-bottom: 1px solid $theme-blue;
}

.ck-content {
    min-height: 300px;
}