@charset "UTF-8";
/* CSS Document */

/* style body and outer container */

body {
	margin: 0;
	color: #333;
	background-color: #CCC;
	background-image:url(/storage/muralbg1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
