.heading, .article-heading {
    color: $theme-orange;
}

.article-heading {
    font-size: 2rem;
    line-height: 1.15;
    @apply mx-2 mt-2 mb-4 font-bold;
}

.heading > a {
    color: inherit;
    @apply no-underline;
}

.heading > a:hover {
    @apply underline;
    text-decoration-color: inherit;
}
