.link-sidebar {
    font-size: 14px;
    line-height: 1.15;
    @apply no-underline block py-1 font-bold;
}

.link-sidebar:hover, .link:hover {
    @apply text-white underline;
    background:$theme-purple;
}
