.navbar {
  /* width: 70%; */
  /* background: #fff; */
  margin: 20px auto;
  padding: 14px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-dropdown {
  display: none;
  z-index: 2;
  float: right;
  position: absolute;
  flex-direction: column;
  overflow: visible;
}

.navbar-item:hover > .navbar-dropdown {
  display: flex;
}

.navbar-item > a,
.navbar-dropdown-item > a {
  text-decoration: none;
  padding: 5px;
  color: #fff;
  background: #333;
}

.navbar-dropdown-item {
  padding-top: 1px;
  margin: 5px;
}

.navbar-item > a:hover,
.navbar-dropdown-item:hover > a {
  color: #fff;
  background: #6b0c36;
  text-decoration: underline;
}

.navbar-dropdown {
  background: #6b0c36;
}

.sidebar {
  /* float: left;
  font-size: 1.1em;
  font-weight: 700; */
  margin-left: 1%;
  margin-right: 2%;
  font-size: 1.2rem;
  z-index: 2;
  overflow: auto;
}

@media only screen and (max-width: 1200px) {
  .sidebar-container {
    float: none;
    position: inherit;
  }
}

.sidebar-menu-link {
  text-decoration: none;
}

.sidebar-menu-link:hover {
  text-decoration: underline;
}

.publication-date,
h1 {
  color: #eb6841;
}

.publication-date {
  font-size: 0.8em;
}

.collection-box {
  flex: 1 1 200px;
}

.submit-button {
  width: 12em;
  padding: 10px;
  border: 2px solid #7c412b;
  border-radius: 5px;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8);
  color: #fff;
  background: #ef7d50;
  font-weight: bold;
  -webkit-appearance: none;
}

.submit-button:hover {
  cursor: pointer;
  background: #fff;
  color: #ef7d50;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  color: #333;
  background-color: #CCC;
  background-image: url(/storage/muralbg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
}

.app {
  margin: 0 auto;
  min-height: 100%;
}

.bg-default {
  background: rgba(255, 255, 255, 0.86);
}

.footer {
  border-top: 1px solid #00a0b0;
}

