/* // Variables
@import 'variables';
@import 'sidebar';
@import 'nav'; */

//@import 'site/layout';
@import 'site/navbar';
@import 'site/sidebar';

body {
	margin: 0;
	color: #333;
	background-color: #CCC;
	background-image:url(/storage/muralbg1.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	font-family: Arial, Helvetica, sans-serif;
	//line-height: 1.5em;
/* 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover; */
  	background-size: cover;
}

.content {
	margin: 20px;
}

.row {
	background: rgba(255, 255, 255, 0.75);
}

.publication-date, h1 {
	color: #eb6841;
}

.publication-date {
	font-size: 0.8em;
}