html, body {
    height: 100%;
}

.root-container {
    max-width: 1200px;
    min-height: 100%;
    background: rgba(255, 255, 255, 0.85);
    margin: 0 auto;
}

.footer-container > div {
    margin: 0 12px;
}

