html, body {
    height: 100%;
}

.root-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.row {
    display: flex;
}

.content-row {
    flex: 1;
}

