$theme-dark: #333;
$theme-orange: #ef7d50;
$theme-blue: #00a0b0;
$theme-green: #9C6;
$theme-purple: #6b0c36;
$theme-gray: #666;
$theme-brown: #7c412b;

$theme-bg2: #fff4cf;

$theme-shadow: 0 0 0.5em rgba(0, 0, 0, .8);
